/* Testing autoprefixer */
.autoprefixer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* Testing cssnext */
.cssnext {
    background: rgba(255, 0, 0, 0.9);
}
.fuck {
    display: none;
}
/* Testing precss */
.precss {
background: green
}